* {
  font-family: 'B612';
  
}
.Nav a {
  border: 0.1vh solid #555;
  margin: 1.05vh;
  padding: 1.05vh;
  width: 6.21vh;
  max-width: 20vh;
  min-width: 5vh;
  background-color: #103d5d;
  color: #fff;
  box-shadow: 0 0.31vh 4px 0 rgba(0,0,0,.14), 0 0.31vh 0.31vh -0.2vh rgba(0,0,0,.12), 0 0.103vh 0.83vh 0 rgba(0,0,0,.2);
  font-size: 2.5vh;
  text-align: center;
  
}
.Nav {
  margin-bottom: 2.55vh;
  position: sticky;
  text-align: right;
  
  min-width: 1vh;
}


body {
  font-family: 'B612';
  background-color: #2B303A;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 3.41vh 0 2.58vh 1.55vh;
  box-shadow: 0 0.31vh 4px 0 rgba(0,0,0,.14), 0 0.31vh 0.31vh -0.2vh rgba(0,0,0,.12), 0 0.103vh 0.83vh 0 rgba(0,0,0,.2);
}

header h1 {
  font-size: 2.58vh;
  font-weight: 600;
  letter-spacing: 0.03vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  vertical-align: middle;
  
}

.fa {
  font-size: 2.27vh;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 1.24vh;
}

.container {
  display: flex;
  max-width: 113.87vh;
  margin: 0 auto;
  padding-top: 3.10vh;
}

.wrapper {
  max-width: 113.87vh;
  margin: 0 auto;
}

.add-item {
  border-radius: 0.2vh;
  border-top: 0.31vh solid #FA6900;
  margin-right: 2.585vh;
  background-color: rgb(237, 237, 237);
  padding: 3.105vh 1.86vh;
  box-shadow: 0 0.31vh 4px 0 rgba(0,0,0,.14), 0 0.31vh 0.31vh -0.2vh rgba(0,0,0,.12), 0 0.103vh 0.83vh 0 rgba(0,0,0,.2);
  margin-bottom: 3.52vh;  
  width: 30vh;
  font-size: 1.66vh;
  display: flex;
  flex-flow: wrap, row;
}

.display-item {
  width: 65vh;
  margin-left: 2.585vh;
  font-size: 1.66vh;
}

.display-item button {
  margin-top: 2.07vh;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 2.28vh;
  color: #000;
  padding: 1.86vh 2.28vh;
  font-size: 1.66vh;
  margin-bottom: 1.75vh;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(30vh - 5.17vh);
  list-style-type: none;
  margin-right: 5.17vh;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 3.10vh;
  box-shadow: 0 0.31vh 4px 0 rgba(0,0,0,.14), 0 0.31vh 0.31vh -0.2vh rgba(0,0,0,.12), 0 0.103vh 0.83vh 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #FA6900;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 1.55vh;
}

li p {
  padding: 1.55vh;
}

form button {
  width: 100%;
  margin-top: 1.03vh;
}

button {
  border-radius: 0.2vh;
  
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 12.42vh;
  color: #fff;
  font-size: 1.44vh;
  box-shadow: 0 0.2vh 0.517vh 0 rgba(0,0,0,.26);
  padding: 1.03vh 0.621vh;
}
@font-face {
    font-family: 'b612regular';
    src: url('b612/b612-regular-webfont.woff2') format('woff2'),
         url('b612/b612-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@media only screen and (max-device-width: 480px) {
    .Nav {
      margin-bottom: 2.55vh;
      position: sticky;
      text-align: center;
  
      min-width: 1vh;
      }
    .Nav a {
      font-size: 2vh;
    }
}
